<h1>1. CSV files</h1>

<p>Look into source file (csv ~ comma separated value):</p>

<pre><code>less data-samples/lan-basic-flow.csv
</code></pre>

<p>Optionally, look at IoT data samples:</p>

<pre><code>less data-samples/virtual-sensor.csv

less data-samples/zwave-sensor.csv
</code></pre>

<h2>Replay CSV files</h2>

<pre><code>/usr/bin/nemea/logreplay -i f:outputfile.trapcap -f data-samples/lan-basic-flow.csv
</code></pre>

<h2>Translate UniRec into CSV</h2>

<p>Logger will wait for data at <code>mysocket</code> IFC and translate it to CSV</p>

<pre><code>/usr/bin/nemea/logger -i u:mysocket -t
</code></pre>

<p>We can use <code>traffic_repeater</code> to replay UniRec stored in the file:</p>

<pre><code>/usr/bin/nemea/traffic_repeater -i f:outputfile.trapcap,u:mysocket:buffer=off
</code></pre>

<h1>2. Generate own data</h1>

<p>Have a look into <code>zwave-generator.py</code>:</p>

<pre><code>less zwave-generator.py
</code></pre>

<p>Generate data and show it using <code>logger</code> (ideally in 2 terminals):</p>

<pre><code>./zwave-generator.py
/usr/bin/nemea/logger -i u:mysocket -t
</code></pre>

<h1>3. Store data into binary UniRec file(s)</h1>

<p><code>:w</code> rewrite</p>

<p><code>:a</code> append (creates new file with suffix, e.g. data.trapcap.0, data.trapcap.1)</p>

<p><code>:size=</code> in MB</p>

<p><code>:time=</code> in minutes</p>

<pre><code>/usr/bin/nemea/traffic_repeater -i u:mysocket,f:soubor:a

/usr/bin/nemea/traffic_repeater -i u:mysocket,f:soubor:time=2
</code></pre>

<p>Result:</p>

<pre><code>$ ls -lh soubor*
-rw-rw-r--. 1 tomas tomas 929 26. Oct 23.38 soubor.201710262336
-rw-rw-r--. 1 tomas tomas  47 26. Oct 23.38 soubor.201710262338
$
</code></pre>

<h1>4. Convert PCAP file into flow data</h1>

<p>Prepare your PCAP to convert. Lets assume it is called <code>file.pcap</code>.</p>

<p>Additionally, lets assume we want CSV as the output.</p>

<p>Start <code>flow_meter</code> that will read the file and send flow records via
UNIX socket called <code>flowdata</code>:</p>

<pre><code>/usr/bin/nemea/flow_meter -r file.pcap -i u:flowdata:buffer=off
</code></pre>

<p>Start NEMEA logger to receive UniRec data via the UNIX socket and translate
them into CSV. Notice: <code>-t</code> will make <code>logger</code> to write header as well.</p>

<pre><code>/usr/bin/nemea/logger -t -i u:flowdata
</code></pre>

<h1>5. Your own module</h1>

<p>It is worth noting that your module can process UniRec directly instead
of conversion into CSV.
See examples in <code>/usr/share/doc/nemea/examples</code>, choose programming language
and start coding.</p>
